{# vim: set ft=htmldjango : #}
<div class="modal hide fade" id=about tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="aboutLabel">About</h3>
	</div>

	<div class="modal-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#about-about">{{ brand }}</a></li>
			<li><a href="#about-changes">Change Log</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id=about-about>
				<div class="pull-right">
					<div class="gittip">
						<iframe style="border: 0; margin: 0; padding: 0;"
							src="https://www.gittip.com/rummik/widget.html"
							width="48pt" height="22pt"></iframe>
					</div>
					<a class="FlattrButton" style="display:none;"
						title="{{ brand }}"
						data-flattr-uid="rummik"
						data-flattr-tags="software, opensource, programming"
						data-flattr-category="software"
						href="https://bitbucket.org/rummik/rchat/">

						Javascript IRC client
					</a>
				</div>

				<p>Experimental Javascript IRC Client</p>

				<p>
					Built with
					<ul class="unstyled">
						<li>Node.js</li>
						<li>Express</li>
						<li>Socket.IO</li>
						<li>Swig</li>
						<li>Optimist</li>
						<li>Nib</li>
						<li>jQuery</li>
						<li>Bootstrap</li>
						<li>For a full list of dependencies, see <a href="https://bitbucket.org/rummik/rchat/src/master/package.json">package.json</a></li>
					</ul>
				</p>
			</div>

			<div class="tab-pane" id=about-changes>
				<div class="accordion" id=changelog-accordion>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#changelog-accordion" href="#v0_1">
								Version 0.1
							</a>
						</div>
						<div id="v0_1" class="accordion-body collapse">
							<div class="accordion-inner">
								<ul>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<div class="btn-group pull-left">
			<a class="btn btn-link" href="https://bitbucket.org/rummik/rchat/" target="_blank">Get the source</a>
		</div>
		<a class="btn" href="https://www.gittip.com/rummik/" target="_blank">Gittip &lt;3</a>
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>