{# vim: set ft=htmldjango : #}
<div class="modal hide fade" id=connect tabindex="-1" role="dialog" aria-labelledby="connectLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="connectLabel">Connect</h3>
	</div>

	<div class="modal-body">
		<form onsubmit="return false">
			<label>Server</label>
			<select name="server">
			</select>

			<label>Nick</label>
			<input type=text name=nick required>

			<label>Channels</label>
			<input type=text name=channels value="#rchat">
		</form>
	</div>

	<div class="modal-footer">
		<!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
		<button class="btn btn-primary" data-dismiss="modal" id=connect-start>Connect</button>
	</div>
</div>
