{# vim: set ft=htmldjango : #}
<div class="modal hide fade" id=settings tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="settingsLabel">Settings</h3>
	</div>

	<div class="modal-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#settings-general">General</a></li>
			<li><a href="#settings-interface">Interface</a></li>
		</ul>

		<form onsubmit="return false">
			<div class="tab-content">
				<div class="tab-pane active" id=settings-general>
					<label>Primary Nick</label>
					<input type=text name=irc.nick.primary>

					<label>Secondary Nick</label>
					<input type=text name=irc.nick.secondary>

					<label class="checkbox">
						<input type=checkbox name=ui.bell value=true> Beep on highlight
					</label>

					<label class="checkbox">
						<input type=checkbox name=ui.timestamps value=true checked> Show timestamps
					</label>

					<label class="checkbox">
						<input type=checkbox name=ui.typeahead checked> Enable Typeahead
					</label>

					<label>Typeahead minimum word length</label>
					<input type=number step=1 min=1 max=10 name=ui.typeahead.minlength value=3>
					<label class="checkbox">
						<input type=checkbox name=ui.typeahead.nicks checked> Show nicks in typeahead menu
					</label>
					<label class="checkbox">
						<input type=checkbox name=ui.typeahead.commands checked> Show commands in typeahead menu
					</label>
				</div>

				<div class="tab-pane" id=settings-interface>
					<label>Font</label>
					<label class="radio">
						<input type=radio name=ui.font.family value="Sans-Serif"> Sans-Serif
					</label>
					<label class="radio">
						<input type=radio name=ui.font.family value="Monospace" checked> Monospace
					</label>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true" id=settings-close>Close</button>
		<button class="btn btn-primary" data-dismiss="modal" id=settings-save>Save changes</button>
	</div>
</div>
