{# vim: set ft=htmldjango : #}
<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel=stylesheet href="/bootstrap.css">
		<link rel=stylesheet href="/default.css">
		<title>{{ brand }}</title>
		<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div class="navbar hidden-phone">
			<div class="navbar-inner">
				<a href="#about" data-toggle="modal" class="brand">{{ brand }}</a>
				<ul class="nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">File</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#connect" data-toggle="modal">Connect</a></li>
							<li class="divider"></li>
							<li><a href="#settings" data-toggle="modal">Settings</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="tab-content windows">
			{% raw %}
			<script id="serverWindow" type="text/x-swig-template">
				<div class="tab-pane server" id="window-{{network}}-server">
					<div class="well well-small messages">
						<table class="table table-striped table-condensed"><tbody></tbody></table>
					</div>
				</div>
			</script>

			<script id="channelWindow" type="text/x-swig-template">
				<div class="tab-pane channel" id="window-{{network}}-channel-{{window}}">
					<div class="well well-small infobar topic"></div>
					<div class="well well-small nicklist"></div>
					<div class="well well-small messages">
						<table class="table table-striped table-condensed"><tbody></tbody></table>
					</div>
				</div>
			</script>

			<script id="queryWindow" type="text/x-swig-template">
				<div class="tab-pane query" id="window-{{network}}-query-{{window}}">
					<div class="well well-small infobar"></div>
					<div class="well well-small messages">
						<table class="table table-striped table-condensed"><tbody></tbody></table>
					</div>
				</div>
			</script>
			{% endraw %}
		</div>

		<div class="well well-small input">
			<table>
				<tr>
					<td><button class="btn btn-link"><span class="label">nick (+Sixr)</div></button></td>
					<td><input type=text id=command autofocus></td>
				</tr>
			</table>
		</div>

		<div class="accordion windowlist hidden-phone">
			{% raw %}
			<script id="windowlistNetwork" type="text/x-swig-template">
				<div class="accordion-group">
					<div class="accordion-heading clearfix">
						<a class="icon-chevron-down pull-right" data-toggle="collapse" href="#network-{{network}}"></a>
						<ul class="nav nav-stacked"><li><a class="network-name" href="#window-{{network}}-server">{{network_name}}</a></li></ul>
					</div>
					<div id="network-{{network}}" class="accordion-body collapse in">
						<div class="accordion-inner">
							<ul class="nav nav-stacked windowlist-tabs"></ul>
						</div>
					</div>
				</div>
			</script>

			<script id="windowlistTab" type="text/x-swig-template">
				<li><a href="#window-{{network}}-{{type}}-{{window}}">{{window_name}}</a></li>
			</script>
			{% endraw %}
		</div>

		{% include "modals/settings.html" %}
		{% include "modals/about.html" %}
		{% include "modals/connect.html" %}

		<script src="/es5-shim.js"></script>
		<script src="/browserify.js"></script>
		<script src="/jquery.caret.js"></script>
		<script src="/bootstrap.js"></script>
		<script>
			// flattr
			(function() {
				if (/(\d+\.){3}\d+/.test(location.hostname))
					return;

				var s = document.createElement('script');
				var t = document.getElementsByTagName('script')[0];

				s.type = 'text/javascript';
				s.async = true;
				s.src = '//api.flattr.com/js/0.6/load.js?mode=auto&uid=rummik';

				t.parentNode.insertBefore(s, t);
			})();
		</script>
	</body>
</html>
