$colors = white black darkBlue darkGreen red darkRed purple orange yellow green teal cyan blue fuchsia darkGray gray 

for $color, $i in $colors {
	.c{$i} {
		color: $color;
	}

	.b{$i} {
		background: $color;
	}
}
