@import "colors.styl";
@import "nib";

//@import "radial-gradient.styl";

html, body {
	min-height: 100%;
}

body {

	// Necessary to catch padding on elements
	float: left;
}

.nicklist {
	right: 0;
}

.dropdown-menu li a .icon {
	margin-left: -16px;
	margin-right: 2px;
}

.dropup .dropdown-submenu .dropdown-menu {
	top: auto !important;
	bottom: 0 !important;
	border-radius: 6px 6px 6px 0;
}

.typeahead {
	z-index: 2000;
	position: fixed;
	bottom: 35px;
	top: auto !important;
}

@media (min-width: 481px) {
	.navbar, .infobar, .messages, .input, .nicklist, .windowlist {
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		margin: 0;
		padding: 2px;
	}

	.navbar {
		right: auto;
		bottom: auto;
		width: 200px;
		padding: 0;

		.navbar-inner {
			min-height: 24px;
		}

		> ul, > li {
			padding: 0;
		}

		.brand {
			color: #25a;
		}

		.brand, a {
			padding: 2px 5px !important;
			font-size: inherit;
		}
	}

	.infobar {
		bottom: auto;
	}

	.input {
		top: auto;
	}

	.infobar, .messages, .input {
		left: 210px;
	}

	.nicklist, .windowlist {
		width: 200px;
	}

	.messages, .nicklist {
		top: 35px;
		bottom: 35px;
	}

	.nicklist {
		left: auto;
	}

	.query .messages {
		right: 5px;
	}

	.server .messages {
		top: 5px;
		right: 5px;
	}


	.windowlist {
		padding: 0;
		top: 35px;

		.accordion-group {
			margin-bottom: 5px;
		}

		.accordion-toggle, .accordion-inner, .accordion-heading {
			padding: 0;
		}

		.icon-chevron-down {
			margin: 4px 5px;
		}

		.nav li a {
			padding: 2px 5px;
		}

		.accordion-inner .nav li a {
			padding-left: 10px;
		}

		.nav {
			margin-bottom: 0;
		}
	}

	.input {
		background: #fff;

		table {
			width: 100%;
			margin: -1px;

			td:first-child {
				width: 1px;
			}
		}

		td > input, .btn-link {
			margin: -3px 0 -1px;
		}

		.btn-link {
			padding: 0;
			color: #999;

			white-space: pre;

			&:hover {
				text-decoration: none;
			}
		}

		td > input {
			width: 100%;
			border: 0;
			padding: 0;
			background: transparent;
			display: inline-block;
			box-shadow: none !important;
		}
	}

	.messages {
		right: 215px;

		table {
			display: block;
			overflow-y: scroll;
			height: 100%;

			margin-bottom: 0;

			tr:first-child td {
				border-top: 0;
			}
		}
	}
}


tr.last-focus + tr td {
	border-top-color: red;
}

@media (max-width: 767px) {
	.modal.fade.in {
		top: 0;
		position: absolute;
	}
}
