/*
 * Create a radial gradient with the given start position
 * and variable number of color stops.
 * 
 * Examples:
 * 
 *    background: radial-gradient(top, red, green, blue)
 *    background: radial-gradient(bottom, red, green 50%, blue)
 *    background: radial-gradient(bottom, red, 50% green, blue)
 *    background: radial-gradient(bottom, red, 50% green, 90% white, blue)
 * 
 */

radial-gradient(start, stops...)
  error('color stops required') unless length(stops)
  prop = current-property[0]
  val = current-property[1]
  stops = normalize-stops(stops)

  // legacy webkit
  end = grad-point(opposite-position(start))
  webkit-legacy = '-webkit-gradient(radial, %s, %s, %s)' % (grad-point(start) end join-stops(stops, webkit-stop))
  add-property(prop, replace(val, '__CALL__', webkit-legacy))

  // vendor prefixed
  stops = join-stops(stops, std-stop)
  for prefix in vendor-prefixes
    unless prefix == official
      gradient = '-%s-radial-gradient(%s, %s)' % (prefix start stops)   
      add-property(prop, replace(val, '__CALL__', gradient))

  // standard 
  'radial-gradient(%s, %s)' % (start stops)
